* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
}

main {
    background-image: url('images/bg-intro-mobile.png');
    background-repeat: repeat;
}

.info-text {
    text-align: center;
}

.info-text h1 {
    margin: 0px 20px 20px 20px;
}

.info-text p {
    margin: 0px 30px 40px 30px;
}

.info-text h1,
.info-text p,
.CTA-banner,
.submit-btn {
    color: white;
}


.CTA-banner {
    width: 320px;
    height: 75px;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto 20px auto;
    text-align: center;
    box-shadow: 0px 7px hsla(249, 10%, 26%, 0.3);
}

.CTA-text-bold {
    font-weight: bold;
}

.CTA-banner p {
    font-size: 1.05rem;
    margin: 11px 60px 15px 60px;
}

.inner-wrapper {
    border-radius: 15px;
   /* border: 1px solid green; */
    background-color: white;
    margin: 0 auto 0 auto;
    width: 320px;
    overflow: hidden;
}

.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border-radius: 20px;
    margin: 15px 25px 0px 25px;
    color: grey;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    color: hsl(249, 10%, 26%);
    margin: 10px auto 10px auto; /* auto margins not working ?? */
    width: 280px;
    height: 40px;
    font-size: 18.5px;
    font-weight: bold;
}

.submit-btn {
    border: none;
    background-color: hsla(154, 59%, 51%, 0.8);
    font-size: 20px;
    box-shadow: 0px 8px hsla(154, 59%, 51%, 0.9);
}

.TOS-link-text {
    font-size: 0.7rem;
    text-align: center;
    width: 80%;
    margin: 8px auto 0px auto;
    
    color: hsl(246, 25%, 77%);
    line-height: 20px;
}

.TOS-link-text a {
 font-weight: bold;
 color: hsl(0, 100%, 74%);
 text-decoration: none;
}


@media screen and (min-width: 1024px) {

    main {
        display: flex;
    }

    .right-side-desktop-container {
        margin-right: 150px;
    }

    .info-text {
        margin: 135px 150px auto 230px;
        text-align:left;
    }

    .info-text h1 {
        font-size: 2.5rem;
        width: 75%;
    }

    .info-text p {
        width: 100%;
    }

    .CTA-banner {
        width: 475px;
        height: 45px;
    }

    .inner-wrapper {
        width: 475px;
    }

    input {
        width: 430px;
    }

    .TOS-link-text {
        margin: 10px auto 30px auto;
    }
}
